# This is Git's per-user configuration file.
[user]
	email = elijsher@gmail.com
	name = Eli Sher
[core]
	editor = vim
[credential]
	helper = store
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
