[Unit]
Description=mintmedia daemon
After=network.target

[Service]
Type=simple
ExecStart=%h/go/bin/mintmedia --daemon
Restart=on-failure

[Install]
WantedBy=default.target
