[Unit]
Description=mintmedia daemon
After=network.target
RequiresMountsFor=/mnt/storage

[Service]
Type=simple
ExecStart=%h/go/bin/mintmedia --daemon --verbose
Restart=on-failure

[Install]
WantedBy=default.target
