.DS_Store
**/.DS_Store

# fish generated state (usually not worth tracking)
fish/.config/fish/fish_variables
fish/.config/fish/fish_history
fish/.config/fish/conf.d/

# micro generated state
micro/.config/micro/buffers/
micro/.config/micro/backup/
micro/.config/micro/history/

# editor swap/backup files
*~
*.swp
*.swo
