
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

configuration {
    modes: "combi,window";
    combi-modes: "drun,links:/home/eli/.config/rofi/links.sh,functions:/home/eli/.config/rofi/functions.sh";
    show-icons: true;
}

@theme "/usr/share/rofi/themes/material.rasi"
