
configuration {
    modes: "combi,window";
    combi-modes: "drun,actions:/home/eli/.config/rofi/actions.sh,places:/home/eli/.config/rofi/places.sh,bookmarks:/home/eli/.config/rofi/bookmarks.sh";
    show-icons: true;
}

@theme "/home/eli/.config/rofi/dark-pastel.rasi"
