
//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

configuration {
    modes: "combi,window";
    combi-modes: "drun,actions:/home/eli/.config/rofi/actions.sh,bookmarks:/home/eli/.config/rofi/bookmarks.sh";
    show-icons: true;
    sort: true;
}

@theme "/usr/share/rofi/themes/material.rasi"
